
.reveal div .two-col {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.reveal div .two-col h4{
  font-size: 32px;
}

.reveal div .two-col ul li{
  font-size: 24px;
}



/*.reveal div .two-col ul {*/
/*  margin-top: 20px*/
/*}*/